.offer-section {
  background-color: #151b22;
  padding: 8rem 0;
  position: relative;
}

.shine__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  gap: 25px;

  & p {
    margin: 0;
    font-family: Inter Display, sans-serif;
    font-size: 0.625em;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
}
.shine__container__span {
  height: 1px;
  width: 100%;
  background-color: #ffffff86;
}
.offer-text {
  max-width: 717px;
  z-index: 5;
  font-family: Inter Display, sans-serif;
  color: #c5cfd9;
  font-size: 4em;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: center;
  padding-top: 1rem;

  @media (max-width: 800px) {
    font-size: 2em;
  }
}

.offer-sec-text {
  font-size: 1.25em;
  line-height: 1.5;
  letter-spacing: -0.02em;
  max-width: 444px;
  text-align: center;
  padding-top: 20px;

  @media (max-width: 700px) {
    padding-top: 0;
  }
}

.offer-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  position: absolute;
  width: 70px;

  @media (max-width: 1000px) {
    width: 40px;
  }
  @media (max-width: 700px) {
    width: 25px;
  }
}

.logo-ts {
  top: 32%;
  left: 10%;
  @media (max-width: 1000px) {
    left: 5%;
  }
  @media (max-width: 700px) {
    top: 47%;
  }
}
.logo-go {
  top: 3%;
  left: 40%;
}

.logo-php {
  top: 3%;
  left: 60%;
}
.logo-py {
  top: 46%;
  right: 20%;

  @media (max-width: 1000px) {
    right: 10%;
  }
}
.logo-java {
  bottom: 20%;
  left: 20%;
}

.logo-swift {
  bottom: 28%;
  right: 2%;
}
.logo-terra {
  bottom: 5%;
  left: 40%;
}
