.soc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.safe__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  gap: 25px;

  & p {
    margin: 0;
    font-family: Inter Display, sans-serif;
    font-size: 0.625em;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
}
.safe__container__span {
  height: 1px;
  width: 100%;
  background-color: #ffffff86;
}

.soc-text {
  font-family: Inter Display, sans-serif;
  color: #c5cfd9;
  font-size: 3em;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.03em;
  text-align: center;
  max-width: 700px;
  padding-top: 2.5rem;
}

.purple-text {
  padding-right: 0.05em;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(207deg, #ef4848 23%, #6366f1 87%);
}
