.joins {
  text-align: center;
  padding: 10rem;

  @media (max-width: 700px) {
    padding: 5rem;
  }

  @media (max-width: 540px) {
    padding: 5rem 1rem;
  }
}

.heading-text {
  font-size: 5em;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.03em;

  & span {
    background-image: linear-gradient(207deg, #ef4848 23%, #6366f1 87%);
    padding-right: 0.05em;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (max-width: 540px) {
    font-size: 1.8em;

    & ~ p {
      font-size: 1em;
    }
  }
}

.text {
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: -0.025rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.joins a {
  display: inline-flex;
  padding: 1.125rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 624.9375rem;
  background: #0052cc;
  font-family: Inter Display, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.015rem;
  color: #fff;
  text-decoration: none;
}
